# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/

# OS
.DS_Store

# Databases
*.db
db/

trading_statements/

